body {
    font-family: 'Titillium Web', sans-serif;
}

header {
    margin-top: 75px;
}

#testimonial {
    background-color: #f1f1f1;
    padding: 50px 0 30px 0;
    text-align: center;
    margin-top: 40px;
}

.navbar {
    background-color: rgb(194, 126, 209);
    box-shadow: 2px 2px 5px #000;
    opacity: .9;
}